<div ng-show="hotel.HotelImageUrlList.string.length">
  <div class="img-wrap">
{{hotel.Facilities.HotelFacilityType}}
    <img ng-src="{{hotel.HotelImageUrlList.string[0]}}" />
<div  >
<i class="fa fa-car" ng-show="himages.doesContainFacility('INTERNET_WIFI')"></i>
<i class="fa fa-wifi" ng-show="himages.doesContainFacility('GYM')"></i>
<i class="fa fa-barbell" ng-show="himages.doesContainFacility('RESTAURANT')"></i>
<i class="fa fa-wifi" ng-show="himages.doesContainFacility('POOL')"></i>
</div>


  </div>
</div>
